{
  "bindings": {
    "ctrl+a": "no.no.no idea.look",
    "ctrl+s": "open door.vault.close door",
    "ctrl+d": "open mailbox.take leaflet.read leaflet.drop leaflet.s.e.open window.enter.take all"
  },
  "text_color": 12,
  "zart_bar_foreground": 9,
  "zart_bar_background": 10,
  "zart_bar_visible": true
}